<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSS Scan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-primary" href="/"><b>OSS Scan</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/git-scan"><b>Git-Scan</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/py-scan"><b>Python Package</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/file-scan"><b>Custom-Scan</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Body -->
    <section >
        <div class="container-fluid">
            <div class="row">
                <div class="col-5">
                    <div class="row"> 
                        <div class="col-12 p-5  bg-dark" >
                            <div class="card text-left">
                                <div class="card-body">
                                    <h5 class="card-title">Scan Github Repo</h5>
                                    <form method="POST" action="/git-scan-link" id="urlForm">
                                        <div class="mb-3">
                                            <label for="repolink" class="form-label">GitHub Repo Link</label>
                                            <input type="text" class="form-control" id="repolink" name="repolink" aria-describedby="emailHelp", placeholder="https://github.com/username/reponame"  required>
                                            <!-- <div id="emailHelp" class="form-text">We'll never share your repo with anyone else.</div> -->
                                        </div>
                                    </form>
                                    <button id='myBtn' class="btn btn-primary">Security Scan</button>
                                    <div class="loading" id="loading"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-5 pt-2 bg-secondary" id="dependencyreport"  style="height: 100%;">
                            <h2 class="text-center text-white py-2">Dependency Report</h2>
                            <div class="row" id="dependencyData">
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-bg-light" style="max-width: 18rem;">
                                        <div class="card-header text-bg-danger">
                                            <div class="row">
                                                <div class='col-6 placeholder-glow'> 
                                                    <h5><span class="placeholder col-12"></span></h5>
                                                </div>
                                                <div class='col-6 rtxt placeholder-glow'> 
                                                    <span class="placeholder col-7"></span><br>
                                                    <span class="badge placeholder bg-light">Critical</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title placeholder-glow">
                                              <span class="placeholder col-6"></span>
                                            </h5>
                                            <p class="card-text placeholder-glow">
                                              <span class="placeholder col-7"></span>
                                              <span class="placeholder col-4"></span>
                                              <span class="placeholder col-4"></span>
                                              <span class="placeholder col-6"></span>
                                            </p>
                                            <a href="#" tabindex="-1" class="card-text disabled placeholder col-8"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-bg-light" style="max-width: 18rem;">
                                        <div class="card-header text-bg-primary">
                                            <div class="row">
                                                <div class='col-6 placeholder-glow'> 
                                                    <h5><span class="placeholder col-12"></span></h5>
                                                </div>
                                                <div class='col-6 rtxt placeholder-glow'> 
                                                    <span class="placeholder col-7"></span><br>
                                                    <span class="badge placeholder bg-light">Critical</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title placeholder-glow">
                                              <span class="placeholder col-6"></span>
                                            </h5>
                                            <p class="card-text placeholder-glow">
                                              <span class="placeholder col-7"></span>
                                              <span class="placeholder col-4"></span>
                                              <span class="placeholder col-4"></span>
                                              <span class="placeholder col-6"></span>
                                            </p>
                                            <a href="#" tabindex="-1" class="card-text disabled placeholder col-8"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-bg-light" style="max-width: 18rem;">
                                        <div class="card-header text-bg-warning">
                                            <div class="row">
                                                <div class='col-6 placeholder-glow'> 
                                                    <h5><span class="placeholder col-12"></span></h5>
                                                </div>
                                                <div class='col-6 rtxt placeholder-glow'> 
                                                    <span class="placeholder col-7"></span><br>
                                                    <span class="badge placeholder bg-light">Critical</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title placeholder-glow">
                                              <span class="placeholder col-6"></span>
                                            </h5>
                                            <p class="card-text placeholder-glow">
                                              <span class="placeholder col-7"></span>
                                              <span class="placeholder col-4"></span>
                                              <span class="placeholder col-4"></span>
                                              <span class="placeholder col-6"></span>
                                            </p>
                                            <a href="#" tabindex="-1" class="card-text disabled placeholder col-8"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card text-bg-light" style="max-width: 18rem;">
                                        <div class="card-header text-bg-success">
                                            <div class="row">
                                                <div class='col-6 placeholder-glow'> 
                                                    <h5><span class="placeholder col-12"></span></h5>
                                                </div>
                                                <div class='col-6 rtxt placeholder-glow'> 
                                                    <span class="placeholder col-7"></span><br>
                                                    <span class="badge placeholder bg-light">Critical</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title placeholder-glow">
                                              <span class="placeholder col-6"></span>
                                            </h5>
                                            <p class="card-text placeholder-glow">
                                              <span class="placeholder col-7"></span>
                                              <span class="placeholder col-4"></span>
                                              <span class="placeholder col-4"></span>
                                              <span class="placeholder col-6"></span>
                                            </p>
                                            <a href="#" tabindex="-1" class="card-text disabled placeholder col-8"></a>
                                        </div>
                                    </div>
                                </div>

                            </div>                            
                        </div>
                    </div>                    
                </div>
                <div class="col-7 p-5 pt-2 bg-warning">
                    <content id="report">
                        <h2 class="text-center">Vulnerability Report</h2>
                        <div class="card text-center" id="graphs">
                            <div class="card-header">
                                Report
                            </div>
                            <div class="card-body">
                                <div class='row' id='actualGraph'>                                 
                                    <div class='col-3'> 
                                        <h5 class="card-title pb-0 mb-0" id="UndefinedCount">Undefined</h5>
                                        <div id="chart1">
                                        </div>
                                    </div> 
                                    <div class='col-3'> 
                                        <h5 class="card-title pb-0 mb-0" id="LowCount">Low</h5>
                                        <div id="chart2"></div>
                                    </div> 
                                    <div class='col-3'> 
                                        <h5 class="card-title pb-0 mb-0" id="MediumCount">Medium</h5>
                                        <div id="chart3"></div>
                                    </div> 
                                    <div class='col-3'> 
                                        <h5 class="card-title pb-0 mb-0" id="HighCount">High</h5>
                                        <div id="chart4"></div>
                                    </div>
                                </div>
                                <div class='row' id="dummyGraph">                                 
                                    <div class='col-3'> 
                                        <h5 class="card-title">Undefined</h5>
                                        <div class="spinner-border text-secondary" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div> 
                                    <div class='col-3'> 
                                        <h5 class="card-title">Low</h5>                                        
                                        <div class="spinner-border text-success" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div> 
                                    <div class='col-3'> 
                                        <h5 class="card-title">Medium</h5>
                                        <div class="spinner-border text-warning" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div> 
                                    <div class='col-3'> 
                                        <h5 class="card-title">High</h5>
                                        <div class="spinner-border text-danger" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                            <!-- start -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panel1">
                                    <button class="accordion-button myshadow" type="button" data-bs-toggle="collapse" data-bs-target="#panelcol1" aria-expanded="true" aria-controls="panelcol1">
                                        <div class="row">
                                            <div class="col-8 mx-0">
                                                <span class="placeholder col-6 placeholder-lg"></span><br>
                                                <span class="placeholder col-9"></span>
                                            </div>
                                            <div class="col-4 mx-0 text-right">
                                                <span class="placeholder col-4 m-1"></span><br>
                                                <span class="placeholder col-6  m-1"></span>
                                            </div>
                                        </div>
                                    </button>
                                </h2>
                                <div id="panelcol1" class="accordion-collapse collapse show bg-light" aria-labelledby="panel1">
                                    <div class="accordion-body">
                                        <p class="card-text placeholder-glow">
                                            <span class="placeholder placeholder-sm col-7"></span>
                                            <span class="placeholder placeholder-sm col-4"></span>
                                            <span class="placeholder placeholder-sm col-4"></span>
                                            <span class="placeholder placeholder-sm col-6"></span>
                                            <span class="placeholder placeholder-sm col-8"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panel2">
                                    <button class="accordion-button collapsed myshadow" type="button" data-bs-toggle="collapse" data-bs-target="#panelcol2" aria-expanded="true" aria-controls="panelcol2">
                                        <div class="row">
                                            <div class="col-8 mx-0">
                                                <span class="placeholder col-6 placeholder-lg"></span><br>
                                                <span class="placeholder col-9"></span>
                                            </div>
                                            <div class="col-4 mx-0 text-right">
                                                <span class="placeholder col-4 m-1"></span><br>
                                                <span class="placeholder col-6  m-1"></span>
                                            </div>
                                        </div>
                                    </button>
                                </h2>
                                <div id="panelcol2" class="accordion-collapse collapse show" aria-labelledby="panel2">
                                    <div class="accordion-body">
                                        <p class="card-text placeholder-glow">
                                            <span class="placeholder placeholder-sm col-7"></span>
                                            <span class="placeholder placeholder-sm col-4"></span>
                                            <span class="placeholder placeholder-sm col-4"></span>
                                            <span class="placeholder placeholder-sm col-6"></span>
                                            <span class="placeholder placeholder-sm col-8"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panel3">
                                    <button class="accordion-button collapsed myshadow" type="button" data-bs-toggle="collapse" data-bs-target="#panelcol3" aria-expanded="true" aria-controls="panelcol3">
                                        <div class="row">
                                            <div class="col-8 mx-0">
                                                <span class="placeholder col-6 placeholder-lg"></span><br>
                                                <span class="placeholder col-9"></span>
                                            </div>
                                            <div class="col-4 mx-0 text-right">
                                                <span class="placeholder col-4 m-1"></span><br>
                                                <span class="placeholder col-6  m-1"></span>
                                            </div>
                                        </div>
                                    </button>
                                </h2>
                                <div id="panelcol3" class="accordion-collapse collapse show" aria-labelledby="panel3">
                                    <div class="accordion-body">
                                        <p class="card-text placeholder-glow">
                                            <span class="placeholder placeholder-sm col-7"></span>
                                            <span class="placeholder placeholder-sm col-4"></span>
                                            <span class="placeholder placeholder-sm col-4"></span>
                                            <span class="placeholder placeholder-sm col-6"></span>
                                            <span class="placeholder placeholder-sm col-8"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panel4">
                                    <button class="accordion-button collapsed myshadow" type="button" data-bs-toggle="collapse" data-bs-target="#panelcol4" aria-expanded="true" aria-controls="panelcol4">
                                        <div class="row">
                                            <div class="col-8 mx-0">
                                                <span class="placeholder col-6 placeholder-lg"></span><br>
                                                <span class="placeholder col-9"></span>
                                            </div>
                                            <div class="col-4 mx-0 text-right">
                                                <span class="placeholder col-4 m-1"></span><br>
                                                <span class="placeholder col-6  m-1"></span>
                                            </div>
                                        </div>
                                    </button>
                                </h2>
                                <div id="panelcol4" class="accordion-collapse collapse show" aria-labelledby="panel4">
                                    <div class="accordion-body">
                                        <p class="card-text placeholder-glow">
                                            <span class="placeholder placeholder-sm col-7"></span>
                                            <span class="placeholder placeholder-sm col-4"></span>
                                            <span class="placeholder placeholder-sm col-4"></span>
                                            <span class="placeholder placeholder-sm col-6"></span>
                                            <span class="placeholder placeholder-sm col-8"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                    </content>
                </div>
            </div>
        </div>
    </section>
    <style type="text/css">
    .loading {
        background: url(../static/loading.svg) no-repeat 50% 50%;
        width: auto;
        height: 40px;
    }

    .accordion-button {
        display: block;
    }

    .accordion-button .col-4 {
        text-align: right;
    }

    .myshadow {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;
    }

    .myshadow active {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;
    }
    .rtxt{
        text-align: right;
    }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript">
    
    $('#loading').hide();
    $('#graphs').hide();
    $('#actualGraph').hide();
    // $('#report').hide();
    // $('#dependencyreport').hide();

    $(function() {
        $('#myBtn').click(function() {
            setTimeout(function() {
                $('#loading').show();
                $('#graphs').show();
                $('#report').show();    
                $('#dummyGraph').show();
                $('#actualGraph').hide();
       
            }, 100);
            var form_data = new FormData($('#urlForm')[0]);
            $.ajax({
                type: 'POST',
                url: '/git-scan-link',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                complete: function() {
                    setTimeout(function() {
                        $('#loading').hide();
                    }, 0);
                },
                success: function(data) {
                    console.log(data);
                    if (data['status'] == true) {
                        var countData= data['report'].bySeverity;

                        document.getElementById('UndefinedCount').innerHTML = countData['Undefined'].toString();
                        document.getElementById('LowCount').innerHTML = countData['Low'].toString();
                        document.getElementById('MediumCount').innerHTML = countData['Medium'].toString();
                        document.getElementById('HighCount').innerHTML = countData['High'].toString();

                        $('#actualGraph').show();
                        $('#dummyGraph').hide();
                        updateReport(data);
                        updateDependencyReport();
                    }
                },
            });
        });
    });

    function updateReport(data) {
        var data = data;
        $('#report').show();
        updateCharts(data['report'].bySeverity);
        var length = data['report'].length;
        var str = "";
        

        for (var i = 0; i < length; i++) {
            var panel = i + 1;
            var issue = data['report'].issueList[i];            
            var colors = { 'Undefined': 'light', 'Low': 'success', 'Medium': 'warning', 'High': 'danger' };

            var headding = '<div class="row"><div class="col-8 mx-0"><b>' + issue["Issue"] + '</b><br><br><a href="' + issue["Link"] + '">' + issue["Link"] + '</a></div><div class="col-4 mx-0 text-right"><b>Severity :</b> <span class="badge rounded-pill text-bg-' + colors[issue["Severity"]] + ' m-1">' + issue["Severity"] + '</span><br><b>Confidence :</b> <span class="badge rounded-pill text-bg-' + colors[issue["Confidence"]] + ' m-1">' + issue["Confidence"] + '</span></div>';

            str += ' <div class="accordion-item"><h2 class="accordion-header" id="panel' + panel + '"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelcol' + panel + '" aria-expanded="true" aria-controls="panelcol' + panel + '"> ' + headding + ' </button></h2><div id="panelcol' + panel + '" class="accordion-collapse collapse" aria-labelledby="panel' + panel + '"><div class="accordion-body bg-light"><p><b>File Location : </b>'+ issue['Location'] +'</p><pre class="mx-0">' + issue["Code"] + '</pre></div></div></div>';
        }
        document.getElementById("accordionPanelsStayOpenExample").innerHTML = str;
    };

    function updateDependencyReport() {
        setTimeout(function() {
            $('#loading').show();
            $('#graphs').show();
            $('#dependencyreport').show();
        }, 100);
        var form_data = new FormData($('#urlForm')[0]);
        $.ajax({
            type: 'POST',
            url: '/depend-scan',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            complete: function() {
                setTimeout(function() {
                    $('#loading').hide();
                }, 0);
            },
            success: function(data) {
                console.log(data);
                if (data['status'] == true) {
                    $('#dependencyreport').show();
                    var length = data['depenency_report'].length;        
                    var str = "";
                    for (var i = 0; i < length; i++) {
                        var panel = i + 1;
                        var dependency = data['depenency_report'].dependencyList[i];
                        var colors = { 'Low': 'success', 'Medium': 'primary', 'High': 'warning', 'Critical': 'danger' };
                        
                        var card = '<div class="col-lg-6 mb-4"><div class="card text-bg-light" style="max-width: 18rem;"><div class="card-header text-bg-'+ colors[dependency["Severity"]] +'"><div class="row"><div class="col-6"><h5><b>'+  dependency["Type"] +'</b></h5></div><div class="col-6 rtxt"> Severity<br> <span class="badge text-bg-light">'+ dependency["Severity"] +'</span> </div> </div> </div> <div class="card-body"> <h5 class="card-title">'+dependency["Name"]+'</h5> <p class="card-text">Installed - <b>'+dependency["Installled"]+'</b><br>Fixed In - <b>'+dependency["Fixed-In"]+'</b></p> <a class="card-text" href="https://github.com/advisories/'+dependency["Vulnerability"]+'">'+dependency["Vulnerability"]+'</a></div> </div> </div>';

                        str += card;
                    }
                    document.getElementById("dependencyData").innerHTML = str;
                }
            },
        });        
    };
    function updateCharts(chartData) {
        var chartData = chartData;
        var total = chartData['Undefined'] + chartData['Low'] + chartData['Medium'] + chartData['High'] + 0.00001;

        var Undefined = Math.floor(((chartData['Undefined'] * 100) + 0.00001) / total);
        var Low = Math.floor(((chartData['Low'] * 100) + 0.00001) / total);
        var Medium = Math.floor(((chartData['Medium'] * 100) + 0.00001) / total);
        var High = Math.floor(((chartData['High'] * 100) + 0.00001) / total);

        // var Undefined = 100;
        // var Low = 10;
        // var Medium = 70;
        // var High = 37;


   

        var options1 = {
          series: [Undefined],
          colors:['#7d858d'],
          chart: {
            height: 200,
            type: 'radialBar',
            },
            plotOptions: {
              radialBar: {
                hollow: {
                  size:  '50%',
                }
              },
            },
            labels: ['Undefined'],
        };
        var chart1 = new ApexCharts(document.querySelector("#chart1"), options1);
        chart1.render();

        var options2 = {
          series: [Low],
          colors:['#198754'],
          chart: {
            height: 200,
            type: 'radialBar',
            },
            plotOptions: {
              radialBar: {
                hollow: {
                  size:  '50%',
                }
              },
            },
            labels: ['Low'],
        };

        var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
        chart2.render();

        var options3 = {
          series: [Medium],
          colors:['#ffc107'],
          chart: {
            height: 200,
            type: 'radialBar',
            },
            plotOptions: {
              radialBar: {
                hollow: {
                  size:  '50%',
                }
              },
            },
            labels: ['Medium'],
        };
        var chart3 = new ApexCharts(document.querySelector("#chart3"), options3);
        chart3.render();

        var options4 = {
          series: [High],
          colors:['#dc3545'],
          chart: {
            height: 200,
            type: 'radialBar',
            },
            plotOptions: {
              radialBar: {
                hollow: {
                  size: '50%',
                }
              },
            },
            labels: ['High'],
        };
        var chart4 = new ApexCharts(document.querySelector("#chart4"), options4);
        chart4.render();
    }
      
    </script>
</body>

</html>